.vs
/IncBuildNumber/bin/Debug
/IncBuildNumber/obj/Debug
/IncBuildNumber/obj/Release
/NightMode/obj
/PinscapeCmd/obj
/PinscapeConfigTool/bin/Debug
/PinscapeConfigTool/obj
/PinscapeConfigToolUpdater/obj
